$hover-color: #dbdbdb;
$click-color: #c2bcbc;

table {
  width: 100%;
}

tbody {
  tr {
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }

    &:active {
      background-color: $click-color;
      color: white;
    }
  }

  .table__flex {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

.icon__up {
  color: rgb(25, 185, 25);
}

.icon__down {
  color: red;
}

.icon__same {
  color: rgb(255, 221, 68);
}
